<h1><a href="{{ path('news_show', { 'slug': news.slug }) }}">{{ news.title }}</a></h1>
{% if news.hasPhoto %}
<a href="{{ path('photo_show', {'slug': news.leadingPhoto.slug}) }}"><img
    src="{{ ('uploads/photos/' ~ news.leadingPhoto.path)|apply_filter('thumbnail') }}" style="float:right"
    title="{{ news.leadingPhoto.title }}"/></a>
{% endif %}
<p class="more">{{ news.createdAt|date('d.m.Y') }}, {{ news.user.username }}&nbsp;&nbsp;&nbsp;
  {% if is_granted('ROLE_SUPER_ADMIN') %}
  <a href="{{ path('news_edit', { 'id': news.id }) }}">Edytuj</a>
  &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('news_delete', { 'id': news.id }) }}">Usuń</a>
  {% endif %}
</p>
{{ news.content|striptags|truncate(250)|html_entity_decode }}
<p><a href="{{ path('news_show', { 'slug': news.slug }) }}">&nbsp;Czytaj dalej &raquo;</a></p>