{% extends '::base.html.twig' %}

{% block title %}{{ photo.title }} - foto : Zawidawie.info{% endblock %}
{% block meta_title %}{{ photo.title }} - foto : Zawidawie.info{% endblock %}
{% block description %}{{ photo.description }}{% endblock %}

{% block body %}

<div id="container">
  <div class="content">

    <a href="{{ asset('uploads/photos/' ~ photo.path) }}"><img
        src="{{ ('uploads/photos/' ~ photo.path)|apply_filter('thumbnail_medium') }}"/></a>
    <br class="clear"/>

    <h1>{{ photo.title }}</h1>

    <p style="text-align:left">{{ photo.description|bbcode }}</p>

    {% render "FOSCommentBundle:Thread:show" with {"id": photo.id} %}
    <br class="clear"/>

  </div>
</div>

<div id="sidebar">
  <div class="content">
    <br/>

    <h3>Zdjęcie dodał</h3>

    <p>{{ photo.user.username }}, dnia {{ photo.createdAt|date('d.m.Y') }}</p>

    <h3>Tagi</h3>

    <p>{% for tag in tags %} <a
        href="{{ path('photo_tag', {"tag": tag.slug }) }}">{{ tag.name }}</a> {% endfor %}</p>


    <h3>Zdjęcie przypisane do</h3>
    {% if photo.item %}
    <p>{{ photo.item.typeName }}: <a href="{{ path('item_show', {'slug': photo.item.slug}) }}">{{ photo.item.name }}</a>
    </p>
    {% endif %}
    {% if photo.hasRelatedNews %}
    {% for news in photo.relatedNews %}
    <p>News: <a href="{{ path('news_show', {'slug': news.slug}) }}">{{ news.title }}</a></p>
    {% endfor %}
    {% endif %}

      {% if photo.hasRelatedArticles %}
      {% for article in photo.relatedArticles %}
      <p>Artykuł: <a href="{{ path('article_show', {'slug': article.article.slug}) }}">{{ article.article.title }}</a></p>
      {% endfor %}
      {% endif %}
    <br/>
    <a href="{{ path('photo_new') }}" class="btn">Dodaj zdjęcie</a>
    {% if is_granted('ROLE_SUPER_ADMIN') or photo.user == app.user %}
    <a href="{{ path('photo_edit', { 'id': photo.id }) }}" class="btn2">Edytuj</a>&nbsp;&nbsp;<a
      href="{{ path('photo_delete', { 'id': photo.id }) }}" class="btn3">Usuń</a>
    {% endif %}
    <br class="clear"/>
    <br class="clear"/>
    <br class="clear"/>
    <script type="text/javascript" id="AdTaily_Widget"
            src="http://static.adtaily.pl/widget.js#ByDO7FaA3Ksbl1g"></script>
    <noscript><a href="http://www.adtaily.pl">Prosta i tania reklama w Internecie sprzedawana za pomocą AdTaily</a>(PLALLADTAILY0002)
    </noscript>
    <br/>
    <br class="clear"/>

  </div>
</div>


    {% endblock %}