<h2 class="postNewTitle" id="reply">Odpowiedz w tym temacie</h2>
<form action="{{ path("herzult_forum_topic_post_create", {"categorySlug": topic.category.slug, "slug": topic.slug, "id": topic.id} ) }}#reply" method="post" id='post_form' name='post_form'>

    {% include 'ZawidawieInfoForumBundle:Post:markitup_javascripts.html.twig' with {'field': 'lichess_forum_post_message'} %}

    {{ form_errors(form.message) }}
    {{ form_widget(form.message) }}
    {% if form.authorName is defined %}
        <label><span>Autor</span>&nbsp;&nbsp;&nbsp;&nbsp;{{ form_widget(form.authorName, {"attr": {"class": "authorName"}}) }}</label>
    {% endif %}
    {{ form_rest(form) }}
    <br class="clear" />
    <input type="submit" class="button medium green" style="margin-left:7px;width:150px" value="Dodaj odpowiedź" />
</form>